.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
}


.header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-color: white;
    display: grid;

}

.search-area {
    display: flex;
    justify-content: space-between;
}

.avatar {
    /* width: 30px;
    border-radius: 50%; */
}

.greet-text {
    line-height: 1.3;
}

.smalltxt {
    font-size: 0.9rem;
}

.largetxt {
    font-size: 1.2rem;
}

.main-content {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: lightsteelblue;

}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-color: #08a1f7;

    display: grid;
    grid-template-rows: 1fr 4fr 7fr;
    gap: 40px;
}

.sectionitem, .title {
    display: flex;
    gap: 15px;
    align-items: center;
    padding-left: 15px;
}

.title img.titlelogo{
    width: 60px;
}

.sidebar p.titletext{
    font-size: 35px;
}

.sidebar img{
    width: 35px;
}

.sidebar p{
    color: white;
    font-size: 25px;
    font-weight: bold;
}

