@font-face {
    font-family: custom-font;
    src: url(./fonts/Lato/Lato-Light.ttf);
}

body {
    font-family: custom-font, Arial, Helvetica, sans-serif;
}


.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 6.5fr;
    --main-color: #e0e9f0;
    --secondary-color: #08a1f7;
}

.header, .trend-card, .announce-card, .project-cards > div {
    box-shadow: 0px 4px 5px 0px lightgray;
}

.header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-color: white;
    display: grid;
    position: sticky;
}

.search-area {
    display: flex;
    justify-content: space-between;
    margin: 15px 15px 0px 15px;
}

.searchbar {
    display: flex;
    align-items: start;
    margin-top: 10px;
    flex: 1;
}

.searchbar > input {
    width: 550px;
    height: 25px;
    background-color: var(--main-color);
    border-style: none;
    border-radius: 10px;
    margin-top: 1px;
}

.searchbar > img {
    max-width: 30px;
    margin: 0 20px;
}

.notifybar {
    display: flex;
    width: 300px;
    justify-content: space-evenly;
    align-items: start;
    padding: 0 20px;
    gap: 5px;

}

.ntfy-icon {
    max-width: 25px;
    margin-top: 15px;
}

.sm-avatar {
    max-width: 60px;
    border-radius: 30px;
}

.username {
    color: var(--secondary-color);
    font-weight: bold;
    font-size: large;
}

.user-area, .user-greeting {
    display: flex;
    justify-content: space-between;
}

.user-greeting {
    align-items: start;
    padding: 0 20px;
    gap: 20px
}

.greet-text {
    line-height: 1.3;
}

.smalltxt {
    font-size: 0.9rem;
}

.largetxt {
    font-size: 1.2rem;
    font-weight: bold;
}

.user-buttons {
    display: flex;
    align-items: center;
    gap: 25px;
    padding: 0 50px;
}

.user-buttons button{
    padding: 15px 30px;
    background-color: var(--secondary-color);
    font-weight: bold;
    border-style: none;
    border-radius: 20px;
    color: white;
}

.lg-avatar {
    max-width: 90px;
    border-radius: 45px;
}


.main-content {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: var(--main-color);
    display: grid;
    grid-template-columns: minmax(1050px, 5fr) 2fr;
}

.projects {
    margin: 15px;
}

.project-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 500px));
    grid-template-rows: repeat(3, 1fr);
    gap: 15px;
}

.project-cards > div {
    background-color: white;
    border-left: 10px solid bisque;
    border-radius: 10px;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-text p {
    margin-top: 0;
    text-align: left;
}

.card-text p:first-child {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 20px;
}

.share-links {
    display: flex;
    gap: 15px;
    justify-content: end;
    padding-right: 5px;
    padding-top: 10px;
}

.share-links img {
    width: 25px;
}

.extra-content {
    padding: 15px;
    display: grid;
    grid-template-rows: 1fr 2fr;
}

.announce-card {
    background-color: white;
    padding: 20px 25px;
    border-radius: 10px;

}

.announce-card .announce-news:nth-child(2) {
    border-top: 2px solid var(--main-color);
    border-bottom: 2px solid var(--main-color);
}

.announce-news p:first-child {
    font-weight: bold;
    font-size: 20px;
}

.project-title, .announce-title, .trend-title {
    font-weight: bold;
    font-size: 20px;
}

.trending {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.trend-card {
    background-color: white;
    border-radius: 10px;
    min-width: 350px;
    padding-bottom: 20px;
}

.trending-users {
    display: flex;
    margin-top: 25px;
}

.trend-user-info p {
    margin: 8px;
}

.trend-user-info p:first-child {
    font-weight: bold;
}

.trending-users img {
    height: 60px;
    width: 60px;
    margin: 0 20px;
    border-radius: 30px;
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-color: var(--secondary-color);
    padding-right: 35px;

    display: grid;
    grid-template-rows: 1fr 4fr 7fr;
    gap: 40px;
}

.sectionitem, .title {
    display: flex;
    gap: 15px;
    align-items: center;
    padding-left: 15px;
}

.title img.titlelogo{
    width: 60px;
}

.sidebar p.titletext{
    font-size: 35px;
}

.sidebar img{
    width: 35px;
}

.sidebar p{
    color: white;
    font-size: 25px;
    font-weight: bold;
}

